# files
*.pyc
*.bak
*.so
*.swp
*.dSYM
*.whl

# individual files
pyamg/version.py
MANIFEST
.coverage
.DS_Store
.eggs
.cache
.ipynb_checkpoints
.pytest_cache
.python-version

# directories
build/
dist/
var/
generated/
pyamg.egg-info/
