include DEVELOPERS.txt
include LICENSE.txt
include MANIFEST.in
include README.md
include requirements.txt
include pyamg/amg_core/*.h
include pyamg/amg_core/tests/*.h
recursive-exclude .github
exclude .gitignore
